<launch>
   <!-- Load controller config -->
  <rosparam command="load" file="$(find skid_control)/config/skid_drive_control.yaml" />
  
   <!-- Spawn controller -->
  <node name="controller_spawner1"
        pkg="controller_manager" type="spawner" output="screen"
        args="joint_state_controller skidbot_controller --shutdown-timeout 1" />


  
  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel diffbot_controller/cmd_vel" />
  
 

  
</launch>
